.engine-dropdown {
    position: relative;
}

.engine-dropdown__option {
    border: none;
    padding: 4px 8px;
}


.engine-dropdown__option:hover {
    background-color: #0c8ce9;
}

.engine-dropdown__options {
    border-radius: 8px;
    display: none;
    margin-top: 4px;
    position: absolute;
    flex-direction: column;
    background-color: #1e1e1e;
    padding: 4px 8px;
    z-index: 100;
    outline: 1px solid rgba(255, 255, 255, 0.205);
}

.visible {
    display: flex;
}