.engine-window {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    border: 1px solid #3a3a3a;
}

.engine-canvas {
    display: flex;
    width: 100%;
    height: 100%;
}